{% extends 'base.html' %}
{% load static %}
{% block content %}
   <div class="row">
   		<div class="col-lg-4">
   			<img class="thumbnail" src="{% static 'images/flat.jpg' %}">
   			<div class="box-element product">
   				<h6><strong>Product</strong></h6>
   				<hr>
   				<button class="btn btn-outline-secondary add-btn">Add to Cart</button>
   				<a class="btn btn-outline-success" href="#">View</a>
   				<h4 style="display: inline-block; float: right;" >KES.11000</h4>
   			</div>
   		</div>

   		<div class="col-lg-4">
   			<img class="thumbnail" src="{% static 'images/subwoofer.jpg' %}">
   			<div class="box-element product">
   				<h6><strong>Product</strong></h6>
   				<hr>
   				<button class="btn btn-outline-secondary add-btn">Add to Cart</button>
   				<a class="btn btn-outline-success" href="#">View</a>
   				<h4 style="display: inline-block; float: right;" >KES.4000</h4>
   			</div>
   		</div>

   		<div class="col-lg-4">
   			<img class="thumbnail" src="{% static 'images/infinix.jpg' %}">
   			<div class="box-element product">
   				<h6><strong>Product</strong></h6>
   				<hr>
   				<button class="btn btn-outline-secondary add-btn">Add to Cart</button>
   				<a class="btn btn-outline-success" href="#">View</a>
   				<h4 style="display: inline-block; float: right;" >KES.8780</h4>
   			</div>
   		</div>
   </div>
{% endblock %}
